:root {
  --clr-cream: rgb(244, 224, 196);
  --clr-pink: rgb(233, 108, 122);
  --clr-green: rgb(212, 218, 85);
  --clr-blue: rgb(137, 196, 219);
  --clr-brown: rgb(135, 121, 111);
  --clr-purple: rgb(88, 84, 129);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #4e4e4e;
  background-image: url("https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.title {
  font-size: 1.75rem;
}

.title--h2 {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.logo {
  width: 4rem;
  margin: auto;
}

span {
  color: var(--clr-cream);
}

label {
  display: block;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.375em;
  border: 0.25em solid var(--clr-accent, #000);
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 600;
  background: none;
  transition: background-color 150ms ease-in-out;
}

.btn {
  color: var(--clr-accent, #000);
}

.btn:hover, .btn--active {
  background: var(--clr-accent);
  color: var(--clr-text, #fff);
}

.btn--primary {
  --clr-accent: var(--clr-blue);
}

.btn--green {
  --clr-accent: var(--clr-green);
  --clr-text: #000;
}

.btn--pink {
  --clr-accent: var(--clr-pink);
}

#btnSave,
#btnSetGridSize {
  display: block;
  align-self: flex-end;
  justify-self: flex-end;
}

#btnSave {
  transition: transform 150ms ease-in-out;
}

#btnSave:hover {
  transform: translateY(5px);
}

.card {
  display: grid;
  gap: 1em;
  place-items: center;
  width: 80%;
  max-width: 890px;
  padding: 1em;
  border: 5px solid #000;
  border-radius: 2em;
  margin: auto;
  background: var(--clr-purple);
}

@media screen and (min-width: 52em) {
  .card {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'left-side main right-side';
  }
}

@media screen and (min-width: 100em) {
  .card {
    max-width: 1366px;
  }
}

.col {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 0.5em;
}

.col--fill-modes {
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 52em) {
  .col--fill-modes {
    grid-area: left-side;
  }
}

.col--fill-modes .col--switch {
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (min-width: 52em) {
  .col--second {
    grid-area: main;
  }
}

@media screen and (min-width: 52em) {
  .col--third {
    grid-area: right-side;
  }
}

.col + .col {
  align-items: center;
}

.sketch-grid {
  display: grid;
  grid-template-columns: repeat(autofit, 1fr);
  width: 100%;
  border: 10px solid var(--clr-brown);
  min-width: 300px;
  transition: background-color 150ms ease-in-out;
  padding: 0;
}

.sketch-grid__square {
  cursor: url(../images/cursor.png), auto;
  aspect-ratio: 1/1;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.sketch-grid--background {
  background: white;
  width: 100%;
  margin: 0 0 0.5rem;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper__content {
  display: flex;
  flex-flow: column wrap;
}

.wrapper__content__label {
  margin-top: 0.5rem;
}

.label {
  font-size: clamp(1rem, 1vw, 1.125rem);
}

.input--range {
  all: unset;
  display: block;
  width: 100%;
}

.input--range::-webkit-slider-thumb, .input--range::-moz-range-thumb {
  border: 2px solid #000000;
  height: 28px;
  width: 16px;
  border-radius: 0.25em;
  background: var(--clr-cream);
  cursor: pointer;
}

.input--range::-webkit-slider-runnable-track, .input--range::-moz-range-track {
  width: 100%;
  height: 0.75rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
}

.input--switch {
  background: rgba(0, 0, 0, 0.35);
  border: 0.25em solid var(--clr-brown);
  border-radius: 0.375em;
  overflow: hidden;
  width: 12em;
  text-align: center;
  color: var(--clr-cream);
  position: relative;
  padding-right: 6em;
  position: relative;
  font-weight: 600;
  font-size: clamp(1rem, 2vw, 1.125rem);
}

.input--switch--fill {
  --text-content: 'Click';
}

@media screen and (max-width: 37em) {
  .input--switch--fill {
    display: none;
  }
}

.input--switch--gradient {
  --text-content: 'Gradient';
}

.input--switch:before {
  content: var(--text-content, "boop");
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.input--switch__checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.input--switch__checkbox:checked + .input--switch__label:before {
  transform: translateX(6em);
  transition: transform 150ms linear;
}

.input--switch__checkbox + .input--switch__label {
  position: relative;
  padding: 0.5rem 1rem;
  display: block;
  user-select: none;
  pointer-events: none;
}

.input--switch__checkbox + .input--switch__label:before {
  content: '';
  background: var(--clr-brown);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0);
  transition: transform 300ms;
}

.input--switch__checkbox + .input--switch__label span {
  position: relative;
}

.pcr-button:hover, .pcr-button:focus {
  scale: 1.2;
}
/*# sourceMappingURL=styles.css.map */