:root {
  --clr-cream: rgb(244,224,196);
  --clr-pink: rgb(233, 108, 122);
  --clr-green: rgb(212, 218, 85);
  --clr-blue: rgb(137, 196, 219)
  --clr-brown: rgb(135, 121, 111);
  --clr-purple: rgb(88, 84, 129);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

//     font-family: 'Comfortaa', cursive;
// font-family: 'Montserrat Alternates', sans-serif;
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  background: #fff;
  background-image: url('https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card {
  display: grid;
  // grid-template-columns: 1fr 2fr 1fr;
  place-items: center;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
}

label {
  display: block;
}

.col {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.col + .col {
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(autofit, 1fr);
  width: 90%;
  // border: 10px solid var(--clr-brown);
  min-width: 300px;
  transition: background-color 150ms ease-in-out;

  &__square {
    cursor: url(../images/cursor.png), auto;
    aspect-ratio: 1/1;
    opacity: 0;
    margin: 0;
    padding: 0;
    // transition: opacity 150ms ease-in-out, background-color 150ms ease-in-out;
  }
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.input {
  &--range {
    width: 100%;
  }
}
